* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@media (max-width: 1144px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 864px) {
    html {
        font-size: 10px;
    }
}

body {
    background-color: #242B33;
}

.header-and-first-screen-wrapper {
    background-image: url(./images/first-screen-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -0.5rem;
    background-position-y: -2rem;
    height: 52.5rem;
}

@media (max-width: 768px) {
    .header-and-first-screen-wrapper {
        height: 37.5rem;
    }
}

@media (max-width: 425px) {
    .header-and-first-screen-wrapper {
        height: initial;
        margin-bottom: 2rem;
    }
}

.header {
    margin: 1.9rem auto 0;
    max-width: 72rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: auto;
}

@media (max-width: 764px) {
    .header__logo {
        margin: 0 auto;
    }
}

.logo__name {
    font-family: 'PostNoBillsJaffna-SemiBold', Arial, sans-serif;
    font-size: 36px;
    color: #fff;
}

.logo__type {
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 0.8;
}

@media (max-width: 764px) {
    .logo__type {
        text-align: center;
        line-height: initial;
    }
}

.main-navigation {
    width: 33.6rem;
}

@media (max-width: 864px) {
    .main-navigation {
        width: 45.6rem;
    }
}

@media (max-width: 764px) {
    .main-navigation {
        display: none;
    }
}

.main-navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.main-navigation__list-item {
    flex-shrink: 0;
}

.main-navigation__link {
    font-family: 'Raleway-Regular', Arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.main-navigation__link:hover {
    color: #b9b9b9;
}

.first-screen-wrapper {
    max-width: 43.5rem;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .first-screen-wrapper {
        max-width: none;
        margin: 0;
        padding: 1rem;
    }
}

.first-screen__text {
    padding-top: 12.5rem;
    font-size: 3rem;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', serif;
    text-align: center;
    color: #D4C17F;
}

@media (max-width: 768px) {
    .first-screen__text {
        font-size: 4rem;
        padding-top: 4.5rem;
    }
}

@media (max-width: 425px) {
    .first-screen__text {
        padding-top: 0;
        font-size: 1.7rem;
    }
}

.first-screen__mouse {
    margin: 5rem auto 0;
    background-image: url(./images/mouse.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    .first-screen__mouse {
        display: none;
    }
}

.first-screen__address-and-phone {
    display: flex;
    justify-content: space-between;
    max-width: 33rem;
    margin: 12.2rem 0 0 2.9rem;
}

@media (max-width: 1144px) {
    .first-screen__address-and-phone {
        margin-top: 7rem;
    }
}

@media (max-width: 768px) {
    .first-screen__address-and-phone {
        max-width: 39rem;
        margin: 2.9rem auto;
    }
}

@media (max-width: 425px) {
    .first-screen__address-and-phone {
        margin: 1.9rem auto;
        flex-direction: column;
        align-items: center;
    }
}

.first-screen__address {
    display: flex;
}

@media (max-width: 425px) {
    .first-screen__address {
        margin-bottom: 1.3rem;
    }
}

.first-screen__address-icon {
    background-image: url(./images/placeholder.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.first-screen__contact-text {
    font-family: 'Raleway-Regular', Arial, sans-serif;
    text-decoration: none;
    font-size: 1.125rem;
    color: #fff; 
    margin-left: 1.1rem;
}

@media (max-width: 768px) {
    .first-screen__contact-text {
        font-size: 1.5rem;
    }
}

.first-screen__phone {
    display: flex;
}

.first-screen__phone-icon {
    background-image: url(./images/phone-call.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.first-screen__phone-link {
    text-decoration: none;
    color: #fff;
}

.first-screen__phone-link:hover {
    color: #b9b9b9;
}

.testimonials {
    max-width: 54.5rem;
    padding: 0 1.5rem;
    margin: 5rem auto 0;
}

@media (max-width: 768px) {
    .testimonials {
        margin: 0 auto;
    }
}

.testimonials__list {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 572px) {
    .testimonials__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 425px) {
    .testimonials__list {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.testimonials__list-item {
    max-width: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 11.3rem;
}

@media (max-width: 768px) {
    .testimonials__list-item {
        min-height: 12rem;
    }
}

@media (max-width: 572px) {
    .testimonials__list-item {
        min-height: 13rem;
        max-width: initial;
    }
}

@media (max-width: 425px) {
    .testimonials__list-item {
        min-height: 11rem;
        margin-bottom: 2rem;
    }
}

.testimonials__description {
    font-family: 'Roboto-Light', Arial, sans-serif;
    font-size: 1.25rem;
    color: #fff;
    text-align: center;
}

@media (max-width: 768px) {
    .testimonials__description {
        font-size: 1.5rem;
    }
}

.apartments {
    margin: 7.3rem auto 0;
    max-width: 72rem;
    padding: 0 1.5rem;
}

@media (max-width: 425px) {
    .apartments {
        margin: 1.3rem auto 0;
    }
}

.apartments__header {
    font-size: 2.25rem;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', serif;
    color: #D4C17F;
}

@media (max-width: 864px) {
    .apartments__header {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .apartments__header {
        font-size: 3.25rem;
    }
}

.apartments__apartments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5.5rem;
}

@media (max-width: 425px) {
    .apartments__apartments {
        flex-direction: column;
        margin-top: 2.5rem;
        align-items: center;
    }
}

.apartments__card {
    width: 49%;
    margin-bottom: 4.5rem;
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 1.5rem;
    color: white;
    padding-top: 15.3rem;
    padding-left: 3.1rem;
}

@media (max-width: 425px) {
    .apartments__card {
        margin-bottom: 2.5rem;
        width: 95%;
    }
}

.apartments__card-1 {
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%),
                url('./images/apartments-1.png') center/cover no-repeat,
                #D4C17F;
}

.apartments__card-2 {
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%),
                url('./images/apartments-2.png') center/cover no-repeat,
                #D4C17F;
}

.apartments__card-3 {
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%),
                url('./images/apartments-3.png') center/cover no-repeat,
                #D4C17F;
}

.apartments__card-4 {
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%),
                url('./images/apartments-4.png') center/cover no-repeat,
                #D4C17F;
}

.cta {
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%),
                linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
                url('./images/cta-background.png') 100%/cover no-repeat,
                #C4C4C4;
}

.cta__wrapper {
    max-width: 72rem;
    padding: 0 1.5rem;
    min-height: 35rem;
    margin: 0 auto;
}

.cta__header {
    padding-top: 9.2rem;
    font-size: 2.25rem;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', serif;
    color: #D4C17F;
}

@media (max-width: 768px) {
    .cta__header {
        padding-top: 2rem;
    }
}

@media (max-width: 768px) {
    .cta__header {
        font-size: 3.25rem;
    }
}

@media (max-width: 864px) {
    .cta__header {
        text-align: center;
    }
}

.cta__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 864px) {
    .cta__content {
        flex-wrap: wrap;
    }
}

.cta__description {
    margin-top: 2.7rem;
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    max-width: 33rem;
    padding-right: 3rem;
}

@media (max-width: 768px) {
    .cta__description {
        margin: 1.2rem auto;
        font-size: 1.4rem;
        max-width: 50rem;
        padding-right: 0;
    }
}

@media (max-width: 572px) {
    .cta__description {
        text-align: center;
    }
}

.cta__form {
    display: grid;
    gap: 2.188rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 1.2rem 0 0 0rem;
}

@media (max-width: 864px) {
    .cta__form {
        margin: 1rem auto;
    }
}

@media (max-width: 572px) {
    .cta__form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

.cta__name,
.cta__phone,
.cta__submit-button {
    height: 3.125rem;
    width: 15.938rem;
    text-align: center;
    padding: 0 1rem;
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 0.875rem;
    color: #bebebe;
    background: rgba(255, 255, 255, 0.2);
    border: none;
}

@media (max-width: 768px) {
    .cta__name,
    .cta__phone,
    .cta__submit-button {
        margin: 0;
        font-size: 1.5rem;
        height: 4rem;
        width: 24rem;
    }
}

.cta__note {
    width: 15.938rem;
    text-align: center;
    background: none;
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 0.813rem;
    color: #e7e7e7;
}

@media (max-width: 768px) {
    .cta__note {
        font-size: 1.2rem;
        text-align: center;
        width: 24rem;
    }
}

.cta__submit-button {
    background: #D4C17F;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: box-shadow ease 0.2s;
}

@media (max-width: 768px) {
    .cta__submit-button {
        font-size: 1.5rem;
    }
}

.cta__submit-button:hover {
    box-shadow: 0px 0px 4px 4px rgba(212, 193, 127, 0.32);
}

.cta__submit-button:active {
    box-shadow: 0px 0px 4px 4px rgba(212, 193, 127, 0.32);
}

/* 
    Правило для избежания изменения стилей инпутов при выборе сохраненного в Хроме значения для таких полей
    Взято с https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied
*/

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.video {
    position: relative;
    margin: 0 auto;
    width: 44.938rem;
    height: 40.625rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .video {
        margin: 4rem auto;
    }
}

@media (max-width: 572px) {
    .video {
        width: 95%;
        height: initial;
    }
}

.video:hover > .video__play-button {
    opacity: 0.8;
}

.video__video {
    margin: 0 auto;
    width: inherit;
    height: inherit;
}

.video__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background: url('./images/play-button.svg');
    background-size: contain;
}

.video__play-button_hidden {
    display: none;
}

.map {
    max-width: 72.375rem;
    padding: 0 1.5rem;
    margin: 8.5rem auto 0;
}

@media (max-width: 768px) {
    .map {
        margin: 2.5rem auto 0;
    }
}

.map__header {
    font-size: 2.25rem;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', serif;
    color: #D4C17F;
}

@media (max-width: 864px) {
    .map__header {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .map__header {
        font-size: 3.25rem;
    }
}

.map__map {
    margin-top: 5.7rem;
    height: 22.375rem;
}

@media (max-width: 864px) {
    .map__map {
        margin-top: 3rem;
    }
}

.contacts {
    max-width: 71.688rem;
    padding: 0 1.5rem;
    margin: 10.7rem auto 11rem;
}

@media (max-width: 768px) {
    .contacts{
        margin: 3rem auto;
    }
}

.contacts__header {
    font-size: 2.25rem;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', serif;
    color: #D4C17F;
}

@media (max-width: 864px) {
    .contacts__header {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .contacts__header {
        font-size: 3.25rem;
    }
}

@media (max-width: 768px) {
    .contacts__content {
        margin: 1rem 0;
        display: flex;
    }
}

.contacts__form {
    display: grid;
    gap: 2.188rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 1.2rem 0 0 0rem;
}

@media (max-width: 864px) {
    .contacts__form {
        margin: 1rem auto;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 572px) {
    .contacts__form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

.contacts__name,
.contacts__phone,
.contacts__submit-button {
    height: 3.125rem;
    width: 15.538rem;
    text-align: center;
    padding: 0 1rem;
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 0.875rem;
    color: #bebebe;
    background: rgba(255, 255, 255, 0.2);
    border: none;
}

@media (max-width: 768px) {
    .contacts__name,
    .contacts__phone,
    .contacts__submit-button {
        margin: 0;
        font-size: 1.5rem;
        height: 4rem;
        width: 24rem;
    }
}

@media (max-width: 768px) {
    .contacts__note {
        font-size: 1.2rem;
        text-align: center;
        width: 24rem;
    }
}

.contacts__note {
    width: 15.938rem;
    text-align: center;
    background: none;
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 0.813rem;
    color: #e7e7e7;
    order: -1;
}

@media (max-width: 768px) {
    .contacts__note {
        font-size: 1.2rem;
        width: 24rem;
        order: initial;
    }
}

.contacts__submit-button {
    background: #D4C17F;
    font-family: 'Raleway-Bold', Arial, sans-serif;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: box-shadow ease 0.2s;
}

.contacts__submit-button:hover {
    box-shadow: 0px 0px 4px 4px rgba(212, 193, 127, 0.32);
}

.contacts__submit-button:active {
    box-shadow: 0px 0px 4px 4px rgba(212, 193, 127, 0.32);
}

@media (max-width: 768px) {
    .contacts__submit-button {
        font-size: 1.5rem;
    }
}

.footer {
    background: #2D343C;
}

.footer__logo {
    margin-right: 0.5rem;
}

@media (max-width: 572px) {
    .footer__logo {
        display: none;
    }
}

.footer-wrapper {
    max-width: 72rem;
    margin: 0 auto;
    padding: 3.9rem 1.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 572px) {
    .footer-wrapper {
        max-width: 27rem;
        padding: 2rem 1.5rem 2.5rem;
        flex-direction: column;
    }
}

.footer__links-list {
    list-style: none;
    padding-top: 0.3rem;
    margin-right: 0.6rem;
}

@media (max-width: 572px) {
    .footer__links-list {
        border-bottom: 1px solid white;
    }
}

.footer__link {
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 0.875rem;
    color: white;
    text-decoration: none;
    line-height: 2.2;
}

@media (max-width: 768px) {
    .footer__link {
        font-size: 1.3rem;
    }
}

.footer__link:hover {
    color: #b9b9b9;
}

.footer__contacts-and-socials,
.footer__phone-link,
.footer__email-link {
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 0.875rem;
    color: white;
    line-height: 2.2;
    padding-top: 0.3rem;
    margin-right: 1.1rem;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer__contacts-and-socials,
    .footer__phone-link,
    .footer__email-link {
        font-size: 1.3rem;
    }
}

.footer__email-link {
    color: #D4C17F;
}

.footer__socials-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0.65rem;
    max-width: 10rem;
}

@media (max-width: 864px) {
    .footer__socials-list {
        max-width: none;
    }
}