* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #242B33;
}

.header-and-first-screen-wrapper {
    background-image: url(./images/first-screen-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -0.5rem;
    background-position-y: -2rem;
    height: 52.5rem;
}

.header {
    margin: 1.9rem auto 0;
    max-width: 69rem;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: auto;
}

.logo__name {
    font-family: 'PostNoBillsJaffna-SemiBold', Arial, sans-serif;
    font-size: 2.25rem;
    color: #fff;
}

.logo__type {
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 0.75rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 0.8;
}

.main-navigation {
    width: 33.6rem; 
}

.main-navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.main-navigation__link {
    font-family: 'Raleway-Regular', Arial, sans-serif;
    text-decoration: none;
    font-size: 0.875rem;
    color: #fff;
}

.main-navigation__link:hover {
    color: #b9b9b9;
}

.first-screen-wrapper {
    max-width: 43.5rem;
    margin: 0 auto;
}

.first-screen__text {
    padding-top: 12.5rem;
    font-size: 3rem;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', serif;
    text-align: center;
    color: #D4C17F;
}

.first-screen__mouse {
    margin: 5rem auto 0;
    background-image: url(./images/mouse.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.first-screen__address-and-phone {
    display: flex;
    justify-content: space-between;
    max-width: 33rem;
    margin: 12.2rem 0 0 2.9rem;
}

.first-screen__address {
    display: flex;
}

.first-screen__address-icon {
    background-image: url(./images/placeholder.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.first-screen__contact-text {
    font-family: 'Raleway-Regular', Arial, sans-serif;
    text-decoration: none;
    font-size: 1.125rem;
    color: #fff; 
    margin-left: 1.1rem;
}

.first-screen__phone {
    display: flex;
}

.first-screen__phone-icon {
    background-image: url(./images/phone-call.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.first-screen__phone-link {
    text-decoration: none;
    color: #fff;
}

.first-screen__phone-link:hover {
    color: #b9b9b9;
}

.testimonials {
    max-width: 51.5rem;
    margin: 5rem auto 0;
}

.testimonials__list {
    display: flex;
    justify-content: space-between;
}

.testimonials__list-item {
    max-width: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 11.3rem;
}


.testimonials__description {
    font-family: 'Roboto-Light', Arial, sans-serif;
    font-size: 1.25rem;
    color: #fff;
    text-align: center;
}

.apartments {
    margin: 7.3rem auto 0;
    max-width: 69rem;
}

.apartments__header {
    font-size: 2.25rem;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', serif;
    color: #D4C17F;
}

.apartments__apartments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5.5rem;
}

.apartments__card {
    width: 49%;
    margin-bottom: 4.5rem;
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 1.5rem;
    color: white;
    padding-top: 15.3rem;
    padding-left: 3.1rem;
}

.apartments__card-1 {
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%),
                url('./images/apartments-1.png') center/cover no-repeat,
                #D4C17F;
}

.apartments__card-2 {
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%),
                url('./images/apartments-2.png') center/cover no-repeat,
                #D4C17F;
}

.apartments__card-3 {
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%),
                url('./images/apartments-3.png') center/cover no-repeat,
                #D4C17F;
}

.apartments__card-4 {
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%),
                url('./images/apartments-4.png') center/cover no-repeat,
                #D4C17F;
}

.cta {
    max-width: 69rem;
    min-height: 35rem;
    margin: 0 auto;
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%),
                linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
                url('./images/cta-background.png'),
                #C4C4C4;
}

.cta__header {
    margin-top: 9.2rem;
    font-size: 2.25rem;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', serif;
    color: #D4C17F;
}

.cta__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cta__description {
    margin-top: 2.7rem;
    max-width: 50%;
    font-family: 'Raleway-Regular', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
}

.cta__form {
    margin-top: 1.2rem;
    min-width: 33.75rem;
}